body, html {
	background-color: #04151a;
}

canvas {
	background: url(background.png);
	border: 3px #153742 solid;
}

.message {
	font-size: 11px;
	color: #ffffff;
	display: none;
	text-align: center;
	background-color: #000000;
	width: 906px;
	padding: 10px 0;
	z-index: 6;
}

span.update {
	font-size: 9px;
	display: block;
	margin-top: 10px;
	font-style: italic;
	color: #737161;
}
